<tr>
  <%= form_for @user=User.new, :url => { :action => 'createnewuser' } do |f| %>
    <td></td>
    <td><%= f.text_field :userName%></td>
    <td><%= f.text_field :firstName%></td>
    <td><%= f.text_field :lastName%></td>
    <td><%= f.text_field :emailID%></td>
    <td></td>
    <td></td>
    <td></td>
    <td><%= submit_tag 'Save', :class => 'button_link' %></td>
  <% end %>
</tr>