<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<% "_show_user.html" %>

<div class="container">  
  <header><h1> SHOW USER DETAILS </h1></header>
  <section>
  <div id="container_demo" >
  <table cellpadding="0" cellspacing="0" border="0" class="display" id="usertable">
    <thead>
      <tr>
        <th> User ID   </th>
        <th> User Name </th>
        <th> Email ID  </th>
        <th> First Name</th>
        <th> Last Name </th>
        <th> Roles     </th>
        <th> Edit      </th>
        <th> Back      </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @user.id %></td>
        <td><%= @user.userName %></td>
        <td><%= @user.emailID %></td>
        <td><%= @user.firstName %></td>
        <td><%= @user.lastName %></td>
        <td><%= @user.roles %></td>
        <td><%= link_to 'Edit', edit_user_path(@user) %></td>
        <td><%= link_to 'Back', users_path %></td>
      </tr>
    </tbody>
  </table>
  </div>
  </section>
</div>
