<%= provide(:title, 'Users') %>
<p id="notice"><%= notice %></p>
<div class="container">  
  <header><h1>Listing users</h1></header>
  <section>
    <%= button_to "Add User", addnewrow_path, :class => "btn btn-small btn-info", :remote => true  %>
  <div id="container_demo" >
  <table cellpadding="0" cellspacing="0" border="0" class="display" id="usertable">
    <thead>
      <tr>
        <th>User ID</th>
        <th>User Name</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email ID</th>
        <th>Roles</th>
        <th>Show</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
          <tr id="user_<%= user.id %>">
            <td><%= user.id%></td>
            <td><%= best_in_place user, :userName%></td>
            <td><%= best_in_place user, :firstName%></td>
            <td><%= best_in_place user, :lastName%></td>
            <td><%= best_in_place user, :emailID%></td>
            <td><%= best_in_place user, :roles%></td>
            <td><%= button_to 'Show', user, :class => "button_link", :method => "get"  %></td>
            <td><%= button_to 'Edit', edit_user_path(user), :class => "button_link", :method => "get"  %></td>
            <td><%= button_to 'Delete', {:action => "destroy", :id => user.id}, :class => "button_link", :confirm => "Are you sure?", :method => "delete" %></td>
          </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <th><input type="hidden"/></th>
        <th><input type="text" name="search_userName" value="Search User Names" class="search_init" /></th>
        <th><input type="text" name="search_emailID" value="Search Email ID" class="search_init" /></th>
        <th><input type="text" name="search_firstName" value="Search First Names" class="search_init" /></th>
        <th><input type="text" name="search_lastName" value="Search Last Names" class="search_init" /></th>
        <th><input type="text" name="search_roles" value="Search Roles" class="search_init" /></th>
        <th></th>
        <th colspan=2><%= button_to 'New User', new_user_path, :class => "button_link", :method => "get" %></th>
      </tr>
     </tfoot>
  </table>
  </div>
  </section>
</div>